.advertsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.advertsList ul {
  padding: 1rem;
}

.advertsList li {
  list-style: none;
}

.advertsList h2 {
  margin-bottom: 0.2rem;
}

.advertsList a {
  text-decoration: none;
  color: black;
}

.filtersSection {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}

.filtersSection h3 {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.filterInput {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
}

.filterLabel {
  font-weight: bold;
  margin-bottom: 5px;
}

.sliderRange {
  margin-bottom: 20px;
}

.resetButton {
  background-color: rgb(80, 255, 92);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.resetButton:hover {
  background-color: rgb(80, 255, 92);
}

.filterGroup {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 10px;
}

.filterGroup label {
  flex: 1;
  margin-right: 10px;
}

.sliderRange {
  margin-top: 20px;
}
